.centered-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered-image-text {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem; /* Add this line to reduce spacing between text and image */
    margin-top: 0rem;
  }

  .centered-image-subtext {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
    margin-bottom: 1rem; /* Add this line to reduce spacing between text and image */
  }
  
  .centered-image {
    margin-top: 1rem; /* Adjust the margin as needed */
    max-width: 90%; /* Set the width to 20% of the original size */
  }
  
  .centered-image img {
    display: block;
    width: 100%;
    height: auto;
  }
  