body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Use the Montserrat font as the default font */
  line-height: 1.6;
  background: url('./images/bg.jpg') no-repeat center center fixed; /* Use the 'bg.jpg' image as the background */
  background-size: cover;
  color: #333;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
  white-space: nowrap; /* Keep items on one line */
    overflow: hidden; /* Hide overflowing items */
}

.navbar-right {
  padding: 1rem;
}

.navbar-item {
  position: relative;
  display: inline-block;
  padding: 1vw;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  transition: color 0.2s;
  font-family: 'Montserrat', sans-serif;
  color: white;
  
}

.navbar-item::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgb(81, 53, 255);
  border-radius: 50%;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s, bottom 0.3s;
}

 .navbar-item:hover::before {
  transform: translateX(-50%) scale(1);
  }

  .navbar-item:hover ~ .navbar-item::before {
    transform: translateX(calc(-50% + 10px)) scale(0);
  }

.navbar-item:hover {
  color: rgb(81, 53, 255); /* Teal color on hover */
}

.hero {
  background: linear-gradient(to right, #e55934, #d32e5e);
  text-align: center;
  padding: 6rem 0;
  color: #fff;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-subheading {
  font-size: 1.5rem;
}

.section {
  padding: 4rem 0;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-subheading {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

/* Add styles for other sections as needed */
